<!-- Dashboard: Visitors -->
<div class="col-xs-12 col-sm-6">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        Unique visitors <small>last week</small>
      </h4>
    </div>
    <div class="panel-body">
      <canvas class="chart chart_visitors"></canvas>
    </div>
  </div>

</div>

<!-- Dashboard: Revenue -->
<div class="col-xs-12 col-sm-6">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        Revenue <small>last 6 months</small>
      </h4>
    </div>
    <div class="panel-body">
      <canvas class="chart chart_revenue"></canvas>
    </div>
  </div>

</div>
