<% name = "album[images_attributes][#{idx}]" %>

<li>
<div style="display: inline-block">
  <%= image_tag image.image_url(:thumb), width: 300, class: "img-thumbnail" %><br>
  <%= hidden_field_tag "#{name}[id]", image.id %>
  <span class="pull-right">Remove image: <%= check_box_tag "#{name}[_destroy]" %></span>
</div>
</li>
