<div id='observations' class='jumbotron'>
  <h1>Editing Observation</h1>

  <div class="col-md-6 container" style='display:block'>
    <%= render partial: 'map' %>
  </div>

  <div class="col-md-6 container">
    <%= render 'form', observation: @observation %>

    <%= link_to 'Show', @observation %> |
    <%= link_to 'Back', observations_path %>
  </div>
</div>