<h1>New Observation</h1>

<p>
Look carefully for leg bands on any shrike that you see! Loggerhead Shrikes released from captivity and those captured in the wild have stainless steel bands on either their right or left leg and may have one or more colour bands on either or both legs. Not all shrikes you see will have a band (indeed, few may), but sighting information on banded shrikes is extremely important to shrike recovery efforts!
</p>
<%= render 'form', observation: @observation %>

<%= link_to 'Back', observations_path %>
