<h2>Admin Panel</h2>

<table>
  <% @users.each do |user| %>
    <tr>
      <%= link_to "#{user.name}", user_path(user) %>
    </tr>
    <tr>
      <%= user.email %>
    </tr>
    <tr>
      user role
    </tr>
    <tr>
      <%= link_to "Edit user", edit_user_path(user) %>
    </tr>
  <% end %>
</table>
