
<table>
    <tr>
      <%= @user.name %>
    </tr>
    <tr>
      <%= @user.email %>
    </tr>
    <tr>
      user role
    </tr>
    <tr>
      <%= link_to "Edit user", edit_user_path(@user) %>
    </tr>
  <% end %>
</table>
