<div class="jumbotron">
  <div class="container">
    <h1>Loggerhead Shrike Conservation Effort</h1>
  </div>
</div>

<div class="row about" id="about" name="about">
    <div class="col-md-6">
      <div class="about_image center">
      </div>
    </div>

    <div class="col-md-6">
      <p>
        Research and management needs for the Loggerhead Shrike depends upon the spatial scale of study.  Across the species’ range, research is still needed to understand the causes of the population declines, but, these may vary.  For example, the impact of pesticides and other contaminants is likely a greater concern in the areas in which such agricultural practices are common.
      </p>
    </div>
  </div>
</div>

<div class="row meet" id="meet" name="meet">
  <div class="col-md-6">
    <h2>Meet the Loggerhead Shrike</h2>
      <p>
        Shrikes (Laniidae) are a charismatic group of small to medium sized songbirds with habits and morphology that is similar to birds of prey (raptors).  Their Latin name, Lanius, means butcher and shrikes are often referred to as ‘butcher birds due to their habit of impaling prey on sharp thorns or in forks of small branches. Believed to have originated in Africa (Lefranc 1997), shrikes are found on all continents except Australia and South America. Many shrike species in Europe and North America have experienced drastic population declines, and the research of many biologists is focused on better understanding the biology of the species and conservation issues.
      </p>
      <p>
        Only two species of shrikes world-wide occur in North America:  Northern Shrike (Lanius excubitorides) and Loggerhead Shrike (Lanius ludovicianus).  They are most closely related to the ‘excubitor’ group of shrikes and together, form a superspecies with the Chinese Great Grey Shrike (Lanius sphenocercus).  Both species likely derived from shrikes in Siberia that colonized North America across the Bering Strait land birdge during the Pleistocene (Mayr 1946).  The relationship between the two North American shrike species is unclear.  It is possible that the Loggerhead Shrike originated independently from Asian shrikes, or could have derived from Nearctic Northern Shrikes by isolation south of glaciated regions during the Pleistocene or Pliocene.  The ecological relationship of Northern and Loggerhead Shrikes parallels that of the northern and southern species of Northern, or Great Grey, Shrike in the Palearctic (Panov 1995)
      </p>

  </div>

  <div class="col-md-6">
    <div class="meet_image center">
    </div>
  </div>
</div>

<div class="row habitat" id="habitat" name="habitat">
  <div class="col-md-6">
    <div class="habitat_image center">
    </div>
  </div>

  <div class="col-md-6">
    <h2>Habitat</h2>
    <p>
      The Loggerhead Shrike utilizes grassland habitats that vary from shrub-steppe in the western United States to pastureland in the eastern Canadian provinces of Ontario and Quebec (Pruitt 2000).  Shrikes hunt by scanning for prey from perches in open short-grass areas, and they prefer a combination of pasture or short grassland with scattered low trees and shrubs.  But, suitable ‘habitat’ also includes rural residential development, light industrial and business parks, cemeteries and suburban parks.
    </p>
  </div>
</div>

<div class="row conservation" id="conservation" name="conservation">
  <div class="col-md-6">
    <h2>Conservation</h2>
    <p>Research and management needs for the Loggerhead Shrike depends upon the spatial scale of study.  Across the species’ range, research is still needed to understand the causes of the population declines, but, these may vary.  For example, the impact of pesticides and other contaminants is likely a greater concern in the areas in which such agricultural practices are common.  Collisions with roads and vehicles may be a greater threat in areas in which the species is restricted largely to road-side nest sites.  Collisions with vehicles and loss of habitat may be a problem in areas experiencing increased development.
    </p>
  </div>

  <div class="col-md-4">
    <div class="conservation_image center">
    </div>
  </div>
</div>

<div class="row outreach" id="outreach" name="outreach">
  <div class="col-md-6">
    <div class="outreach_image center">
    </div>
  </div>

  <div class="col-md-6">
    <h2>Outreach</h2>
    <p>
      Outreach stuffff
    </p>
  </div>
</div>
