<footer class="footer">
  <div class="row">
    <div class="col-xs-12">
      
      &copy; Team Losh 2016. All rights reserved. 
      <a href="#">Terms of Service</a> | 
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>
